/* assets/styles/element-variables.scss */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #409eff,
    ),
  ),

  $input: (
    'text-color' : 'white',
    'bg-color': transparent,
    'border-color': 'white',
    'focus-border-color': #409eff,
    'active-bg-color' : #409eff,
    'border-radius': 8px,
    'border' :2px,
    'padding-horizontal': 15px,
  )
);


@use 'element-plus/theme-chalk/src/index.scss' as *;
